{{!-- TODO: nav --}}
{{!-- we will start at the weekview page but if not logged in then tell them to login --}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <title>Weightlifting Planner</title>

    {{!--
    <link rel="stylesheet" href=" "> --}}
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap"
        rel="stylesheet">

    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    {{!-- login and signup stylesheet --}}
    <link rel="stylesheet" href="/stylesheets/login-signup.css">
</head>

<body>


    <nav>
        {{!-- USE loggedIn --}}
        {{#if loggedIn}}
        {{!-- logout button if not logged in --}}
        <button id="logout">logout</button>
        {{else}}
        {{!-- login button -- take me to login page--}}
        <a href="/login">login</a>
        {{/if}}
    </nav>

    <main>
        {{!-- what view am I using? --}}
        {{{ body }}}

    </main>
</body>






{{!-- if logged in, I want to show workout names in my cards
{{!-- ELSE not logged in then say "LOGIN TO START ADDING WORKOUTS" --}}