<body>

    <form class="add-workout-form">

        <section class="workout-name-section">
            <div>
                <label for="workout-name">workout name</label>
            </div <div>
            <input type="text" id="workout-name" class="workout-name-input" placeholder="eg: 'benchpress'" />
            </div>
        </section>

        <section class="workout-name-section">
            <div>
                <label for="weight">weight</label>
            </div <div>
            <input type="text" id="weight" class="weight-input" placeholder="lbs/kgs" />
            </div>
        </section>

        <section class="reps-section">
            <div>
                <label for="reps"># of reps</label>
            </div <div>
            <input type="text" id="reps" class="reps-input" placeholder="reps" />
            </div>
        </section>

        <section class="workout-name-section">
            <div>
                <label for="sets"># of sets</label>
            </div <div>
            <input type="text" id="sets" class="sets-input" placeholder="sets" />
            </div>
        </section>


    </form>


    <div class="submit-button">
        <button type="submit">add workout</button>
    </div>

</body>

</html>