{{!-- each item is going to display the user input in basically the same format as my models
so I should be generating something to the extent of workout.workout_name, workout.weight,
workout.repetitions, workout.sets
use partials to iterate over array and display my workouts use #each to iterate over db--}}
{{!-- res.render ('daily' workout_name: {workout_name}) --}}





<link rel="stylesheet" href="stylesheets/daily.css">

<div class="login-logout-home-link">

    <a href="/">home</a>

    <!--     <a href="/login">login</a> -->

    <a href="/logout"> logout</a>



</div>

<header>

    <div class="app-name-banner">
        <h1> WEIGHTLIFTING </h1>
        <h1> PLANNER </h1>
    </div>

</header>

<div id="back-to-signup">
    <a href="/signup">signup</a>
</div>





<div class="workout-data-titles">




</div>
{{!-- OUR ROW CARDS THAT HOLD THE DB INFORMATION --}}
{{#each workouts as |workout| }}

<ul>

    <section class="each-workout-card">
        <li>
            <div class="workout-name-on-card">
                <h2> workout name </h2>
                <div> {{ workout_name }} </div>
            </div>

            <div class="weight-display-on-card">
                <h2> weight </h2>
                <div> {{ weight }}</div>
            </div>

            <div class="repetitions-display-on-card">
                <h2> reps </h2>
                <div> {{ repetitions }} </div>
            </div>

            <div class="sets-display-on-card">
                <h2> sets </h2>
                <div> {{ sets }} </div>
            </div>
        </li>
    </section>
</ul>
{{/each}}








<section class="weight-display">

</section>


<a href='/weekview'><button>Return to Week</button></a>