

    <header>
        <div class="app-name-banner">
            <h1> WEIGHTLIFTING </h1>
            <h1> PLANNER </h1>
        </div>
    </header>


    <form class="login-form">

        <section class="form-banner">
            <h2> signup </h2>
        </section>


        <section class="login-sections">

            <div>
                <input type="text" id="email-login" class="login-signup-input" placeholder="enter email" />
            </div>

        </section>
        <section class="login-sections">

            <div>
                <input type="text" id="email-login" class="login-signup-input" placeholder="enter password" />
            </div>
        </section>

        <div class="submit-button">
            <button type="submit">signup</button>
        </div>

    </form>

    <div id="back-to-login">
        <a href="/login">login</a>
    </div>

