{{!-- refer to layouts/main.handlebars --}}

{{!-- need to show cards with the workout names found in daily.handlebars (showing names not MVP) --}}

{{!-- is homepage or "/" --}}




<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap"
    rel="stylesheet">
<meta name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>

<link rel="stylesheet" href="stylesheets/weekview.css">


<div class="login-logout-link">

    <a href="/login">login</a>

    <a href="/logout"> logout</a>

</div>



<header>

    <div class="app-name-banner">
        <h1> WEIGHTLIFTING </h1>
        <h1> PLANNER </h1>
    </div>

</header>


<section class="monday-card-preview">
    <div class="day-of-week-on-card">
        <div> MON </div>
    </div>
    <div class="exercise-preview-on-card">
        {{#each workouts as |workout| }}
            <div> {{ workout_name }} !</div>
        {{/each}}
    </div>
    <div class="button-to-day-page">
        <a href="/daily" id="button-to-monday">
            <span class="iconify" data-icon="eva:arrow-circle-right-outline" data-inline="false"
                data-height="3.2em"></span>
        </a>
    </div>
</section>


{{!-- <button id="reset-button" type="submit">
    <h3>Reset Week Workouts <span class="iconify" data-icon="radix-icons:reset" data-inline="false" data-height="1em">
    </h3>
    </span>
</button> --}}


<script src="/javascript/weekview.js"></script>